In [20]:
import sklearn
import pandas as pd
import numpy as np

In [2]:
sklearn.__version__

'1.6.1'

In [4]:
print(sklearn.__doc__)

Configure global settings and get information about the working environment.

In [5]:
from sklearn import datasets

In [6]:
iris_dataset = datasets.load_iris()

In [7]:
type(iris_dataset)

sklearn.utils._bunch.Bunch

In [11]:
print(iris_dataset.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

In [12]:
iris_dataset.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [14]:
iris_dataset.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [15]:
iris_dataset.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [16]:
iris_dataset.filename

'iris.csv'

In [19]:
type(iris_dataset.data), iris_dataset.data.shape

(numpy.ndarray, (150, 4))

In [21]:
pd.DataFrame(data=iris_dataset.data)

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [22]:
pd.DataFrame(data=iris_dataset.data, columns=iris_dataset.feature_names)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [ ]:

iris_dataset.target.shape

(150,)

In [25]:
df = pd.DataFrame(data=iris_dataset.data, columns=iris_dataset.feature_names)
df['target'] = "test"
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,test
1,4.9,3.0,1.4,0.2,test
2,4.7,3.2,1.3,0.2,test
3,4.6,3.1,1.5,0.2,test
4,5.0,3.6,1.4,0.2,test
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,test
146,6.3,2.5,5.0,1.9,test
147,6.5,3.0,5.2,2.0,test
148,6.2,3.4,5.4,2.3,test
149,5.9,3.0,5.1,1.8,test

In [26]:
df = pd.DataFrame(data=iris_dataset.data, columns=iris_dataset.feature_names)
df['target'] = iris_dataset.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [28]:
df = pd.DataFrame(data=iris_dataset.data, columns=iris_dataset.feature_names)
df['target'] = iris_dataset.target
df['target_name'] =  df['target'].apply(lambda x:iris_dataset.target_names[x])
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [27]:
iris_dataset.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [30]:
df [df['target_name'] == 'versicolor']

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
50,7.0,3.2,4.7,1.4,1,versicolor
51,6.4,3.2,4.5,1.5,1,versicolor
52,6.9,3.1,4.9,1.5,1,versicolor
53,5.5,2.3,4.0,1.3,1,versicolor
54,6.5,2.8,4.6,1.5,1,versicolor
55,5.7,2.8,4.5,1.3,1,versicolor
56,6.3,3.3,4.7,1.6,1,versicolor
57,4.9,2.4,3.3,1.0,1,versicolor
58,6.6,2.9,4.6,1.3,1,versicolor
59,5.2,2.7,3.9,1.4,1,versicolor
60,5.0,2.0,3.5,1.0,1,versicolor
61,5.9,3.0,4.2,1.5,1,versicolor
62,6.0,2.2,4.0,1.0,1,versicolor
63,6.1,2.9,4.7,1.4,1,versicolor
64,5.6,2.9,3.6,1.3,1,versicolor
65,6.7,3.1,4.4,1.4,1,versicolor
66,5.6,3.0,4.5,1.5,1,versicolor
67,5.8,2.7,4.1,1.0,1,versicolor
68,6.2,2.2,4.5,1.5,1,versicolor
69,5.6,2.5,3.9,1.1,1,versicolor
70,5.9,3.2,4.8,1.8,1,versicolor
71,6.1,2.8,4.0,1.3,1,versicolor
72,6.3,2.5,4.9,1.5,1,versicolor
73,6.1,2.8,4.7,1.2,1,versicolor
74,6.4,2.9,4.3,1.3,1,versicolor
75,6.6,3.0,4.4,1.4,1,versicolor
76,6.8,2.8,4.8,1.4,1,versicolor
77,6.7,3.0,5.0,1.7,1,versicolor
78,6.0,2.9,4.5,1.5,1,versicolor
79,5.7,2.6,3.5,1.0,1,versicolor
80,5.5,2.4,3.8,1.1,1,versicolor
81,5.5,2.4,3.7,1.0,1,versicolor
82,5.8,2.7,3.9,1.2,1,versicolor
83,6.0,2.7,5.1,1.6,1,versicolor
84,5.4,3.0,4.5,1.5,1,versicolor
85,6.0,3.4,4.5,1.6,1,versicolor
86,6.7,3.1,4.7,1.5,1,versicolor
87,6.3,2.3,4.4,1.3,1,versicolor
88,5.6,3.0,4.1,1.3,1,versicolor
89,5.5,2.5,4.0,1.3,1,versicolor
90,5.5,2.6,4.4,1.2,1,versicolor
91,6.1,3.0,4.6,1.4,1,versicolor
92,5.8,2.6,4.0,1.2,1,versicolor
93,5.0,2.3,3.3,1.0,1,versicolor
94,5.6,2.7,4.2,1.3,1,versicolor
95,5.7,3.0,4.2,1.2,1,versicolor
96,5.7,2.9,4.2,1.3,1,versicolor
97,6.2,2.9,4.3,1.3,1,versicolor
98,5.1,2.5,3.0,1.1,1,versicolor
99,5.7,2.8,4.1,1.3,1,versicolor

In [31]:
from sklearn.datasets import load_wine

In [34]:
wine_dataset = load_wine()
wine_dataset.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names'])